body {
    margin:0px;
    overflow-x: hidden;
    background-color: #e06e55;
    float: center;
    font-family: 'Lucida Sans Regular', sans-serif;
}

/*GENERAL LAYOUT*/
div.section, .header, .footer {
    padding: 10px; /*gives inside padding*/
    position: relative;
    background-color: white;
    border: solid 2px #ad422e;
    max-width: 80%;
    align-content: center;
    margin: auto; /*spaces side margins out*/
    margin-bottom: 10px; /*gives spaceing after each section*/
    height: auto;
    float: inline;
}



/*ABOUT US section 2 columns*/
.container {
    border: solid 1px #FFBE98; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    margin-bottom: 20px;

}

/*text*/
.sidenotes {
    border: none;
    height: 100%;
    float: right;
    position: relative;
    object-fit: scale-down;
    padding: 5px;
    text-align: center;
}

/*image*/
.sideimg {
    border: none;
    height: auto;
    /*float: right;
    position: relative;
    object-fit: scale-down;*/
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
}

img.side {
    max-width: 50%;
    margin: auto;
}

/*HEADER SECTION SPECIFIC*/
.header {
    background-color: #4F000B;
    color: #F3F3F3;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 24px;
}

a {
    color: #F3F3F3;
    text-decoration: none;
    padding: 5px 20px;
}

a:hover {
    color: #FFBE98;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    display: inline;
}

/*SECTION SPECIFIC FORMATTING*/
.content {
    height: 900px;
}

.map {
    height: 500px;
}

.footer {
    background-color: #4F000B;
    color: #ffffff;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
}

iframe {
    width: 100%;
    height: 90%;
    border: 2px solid #FFBE98;
    overflow:hidden;
    margin: 0px;
    position: block;
}