@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Raleway, sans-serif;
}
body{
  background-color: #ffffff;
    /* background-color: #f6f6e9; */
  margin: 20px;
}



/* HEADER AND NAV BAR */
/* Background image header */
.header{
  position: relative;
  width: 100%;
  height: 260px;
  text-align: center;
  background-image: url('media/static.png'); 
  background-size: cover; 
  background-position: center;
}

.headertext {
/* the text styles for the header */
  /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* display and padding */
    display: inline-block; /* https://w3schools.com/css/css_inline-block.asp */
    padding: 20px;

    /* colour formatting */
    background-color: rgba(246, 246, 233, 0.6);
    color: black;
    max-width: 90%;
    width: 60%;
    text-align: center;
}

*,
*:before,
*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #7D9B76;
  position: sticky;
  top: 251px;
  padding: 15px 25px;
  font-size: 0.8vw;
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  margin-bottom: 15px;
}

.navbar_container {
 width: 3000px;
 margin: auto;
}

ul .nav-menu{
 width: 90%;
 background-color: #1F5014;
 margin: auto;
}

@media(max-width:3000px){
 .navbar_container{
   width: 100%;
 }
}


li{
 list-style: none;
 display: inline-block;
 justify-content: space-between;
}

li a{
 margin-left: 40px;
 text-decoration: none;
 display:flex;
}

.left2 ol li, .right1 ol li{
  display: list-item;
  list-style-type: decimal;
  margin-left: 20px;
  list-style-position: outside;
  padding: 2px;
}

.left2 ul li, .right1 ul li {
  display: list-item;
  list-style-type: disc;
  padding-left: 5px;
  list-style-position: outside;
  padding: 2px;
  margin-left: 50px;

}

/* Navigation bar page choices */
nav a{
 color: white;
 font-size: 25px;
 letter-spacing: 1px;
 text-decoration: none;
 outline: none;
 padding: 10px 10px;
}

#current {
 background-color: #C4D7B2;
 padding: 10px 10px;
}

nav a:hover{
 background-color: #F6F6E9;
 color: #1F5014;
 padding: 10px 10px;
}
nav a:active{
 background-color: #7D9B76;
 color: white;
 padding: 10px 10px;
}

.hamburger{
 display: none;
 cursor: pointer;
}

.bar{
 display: block;
 width: 30px;
 height: 4px;
 margin: 5px;
 transition: all 0.3s ease;
 background-color: #F6F6E9;
}

/* making the hamburger show up at 1300px */
@media(max-width: 1300px){
 .hamburger{
   display:block;
 }

 /* we don't want the second (middle) bar to show up when we turn the bar into an x */
 .hamburger.active .bar:nth-child(2){
   opacity:0;	
 }
 /* now alter other two bars of hamburger to form x */
 .hamburger.active .bar:nth-child(1){
   transform: translateY(8.5px) rotate(45deg);	
 }
 .hamburger.active .bar:nth-child(3){
   transform: translateY(-9px) rotate(-45deg);	
 }

 .nav-menu{
   position: fixed;
   left: -100%; /* dont wanna see it */
   top: 70px;
   gap: 0;
   flex-direction:column;
   background-color: #1F5014;
   width: 100%;
   text-align: center;
   transition: 0.3s;
 }
 .nav-item{
   margin: 16px 0;

 }

 .nav-menu.active{
   left: 0;
 }
}

/* LINK & HEADER TEXT FORMATTING*/
a {
  color: darkslategrey;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #480b48;
  font-weight: bold;
}

.header h1{
  font-size: 40px;
  justify-content: center;
}

h2{
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

p, .left2 ol li, .right1 ol li, .left2 ul li, .right1 ul li {
  margin-top: 15px;
  font-size: 18px;
}



/* ---- */

.navigation{
  background-color: rgba(255, 255, 255, 0.25);
  display: inline-flex;
  gap: 30px;
  position:absolute;
  right:90px;
}
.navigation a{
  color: #000;
  text-decoration:none;
  padding: 10px 20px;
  border-radius: 5px;
}

.navigation a:hover{
  color:#454c53;
  background-color: rgba(255, 255, 255, 0.5);
}

/* .hero{
  margin: 0px;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 40px;
  background-color: #f6f6e9 ;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.left{
  margin-right: 50px;
}
  
.left .viewDiv, .left .viewDiv iframe{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.left .ViewDiv img {
  width: 100%;
  margin: 5px;
}

.left p{
  text-align: justify;
  margin-left: 15px;
  margin-right: 45px;

}

.hero .right{
  text-align: justify;
  background-color: #C4D7B2;
  margin: 0px;
  padding: 30px;
  border: 1px black;
  border-radius: 10px;
  font-family: Raleway, sans-serif;
} */

/* Methodology Section CSS */
.hero1{
  margin: 0px;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 40px;
  background-color: #f6f6e9 /*light grey green*/;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.left1 .View, .left1 h2 {
  margin-left: 50px;
  text-decoration: none;
}

.left1 .View {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.left1 .View img {
  width: 90%;
  margin: 5px;
}


.hero1 .right1{
  text-align: justify;
  background-color: #C4D7B2;
  margin: 0px;
  padding: 30px;
  border: 1px black;
  border-radius: 10px;
  font-family: Raleway, sans-serif;
}

.hero2 {
  margin: 0px;
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 40px;
  background-color: #f6f6e9  /*light yellow/green */;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.hero2 .left2{
  text-align: justify;
  background-color: #C4D7B2;
  margin: 0px;
  padding: 30px;
  border-radius: 10px;
  font-family: Raleway, sans-serif;
}

.right2 .View, .right2 h2 {
 margin-left: 50px;
 text-decoration: none;
}

/* .right2 .View img{ */
  /* height: 500px;
  width: 800px; */
  /* width: 100%;
  object-fit: contain;
} */

.right2 .View {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.right2 .View img {
  margin: 5px;
  width: 90%;
}

.left1 h2, .right2 h2 {
  text-align: center;
}


.left1 .pdf {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

/* For linked images*/
.left1 .View a img, .right2 .View a img{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
}

embed {
  width: 1500px;
  height: 700px;
}


/* TABLET */
@media screen and (max-width: 1300px) {
h2{
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

p, .left2 ol li, .right1 ol li, .left2 ul li, .right1 ul li {
  margin-top: 10px;
  font-size: 16px;
}
}

/* PHONE */
@media screen and (max-width: 850px) {
  .hero, .hero2, .hero1 {
    grid-template-columns: 100%; /* Change to single column layout */
    padding: 10px;
  }

  .left1 .View, .right2 .View {
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    border-radius: 10px;
  }

  .left1 .View img, .right2 .View img {
    width: 100%;
    border-radius: 10px;
  }

  embed {
    height: 500px;
  }

}

/* LET'S FIGURE OUT THE IFRAME PROPERTIES */
iframe {
  width: 100%;
  min-height: 600px;
  max-height: 1500px;
  margin: auto;
}

/* shadowing for UDOT image / text */

.w3-hover-shadow {
    transition: box-shadow 0.3s;
}

.w3-hover-shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 12px 40px 0 rgba(0,0,0,0.35);
}

.right h2 {
    transition: text-shadow 0.3s;
}
.right h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.left h2 {
    transition: text-shadow 0.3s;
}
.left h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.left2 h2 {
    transition: text-shadow 0.3s;
}
.left2 h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.right2 h2 {
    transition: text-shadow 0.3s;
}
.right2 h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.right1 h2 {
    transition: text-shadow 0.3s;
}
.right1 h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.left1 h2 {
    transition: text-shadow 0.3s;
}
.left1 h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.solcont h2 {
    transition: text-shadow 0.3s;
}
.solcont h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}




/* -------*/
/* .solution, iframe.solif{
  width: 100%;
  min-height: 600px;
  max-height: 1500px;
  margin: auto;
}

img.solgif {
  height: 100%;
  margin: auto;
  display: block;
}

.solim {
  height: 100%;
  margin: auto;
  display: block;
  width: -webkit-fill-available;
} */

/* .solcont {
  padding: 10px; /*gives inside padding
  position: relative;
  background-color: white;
  border: solid 2px darkslategrey;
  max-width: 80%;
  align-content: center;
  margin: auto; /*spaces side margins out
  margin-bottom: 10px; /*gives spaceing after each section
  height: auto;
}
 */

.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  margin-top: 0px;
  margin-right: 2%;
  margin-bottom: 0px;
  margin-left: 2%;
  justify-content: space-evenly;
}

.team-head-text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.team-head-text {
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.container {
  max-width: 1380px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.card-container {
  width: 200px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.name {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 800;
}

.position {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.social-icons {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.team-member-image {
  max-width: 100%;
}

/* STAR RATING */
.st {
  width: 150px;
}

/* RESPONSIVE DESIGN */

@media (max-width: 500px) {
  .card-container {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}


*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#000;
  text-align: center;
  background-image: url('media/static.png');
  background-size: cover;
  background-position: center;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer a
{
  color:#FFFFFF;
}
.site-footer a:hover
{
  color:#c9cdd2;
  text-decoration:none;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text
  {
    text-align:center
  }
}
