@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

* {
  font-family: "Raleway", sans-serif;
}
body{
  background-color: #E3ECDB;
  margin: 20px;
}
.header{
  position: relative;
  width: 100%;
  height: 200px;
  text-align:center;
  bottom:20px;
  background-color: #87a96b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header h1{
  padding-top: 30px;
  margin-top: 20px;
  font-size: 40px;
}

h2{
  font-size: 18px;
  font-weight: bold;
}

.navigation{
  display: inline-flex;
  gap: 30px;
  position:absolute;
  right:90px;
}
.navigation a{
  color: #000;
}

.navigation a:hover{
  color:#3366cc;
  text-decoration:none;
}
.hero{
  margin: 10px;
  display: grid;
  grid-template-columns: 60% 40%;
  
}
.left .viewDiv, .left .viewDiv iframe{
  width: 850px;
  height: 600px;
  padding: 10px;
}
.left .viewDiv .expand{
  border-color: #000 1px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  top: 70%;
  left: 40%;
}
.hero .right{
  text-align: justify;
  background-color: #CBDABB;
  margin: 0px;
  padding: 30px;
  border: 1px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Nunito, sans-serif;
}

/* Methodology Section CSS */
.hero1{
  margin: 10px;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 40px;
}
.left1 .View, .left1 h2 {
  margin-left: 50px;
}
.hero1 .right1{
  text-align: justify;
  background-color: #CBDABB;
  margin: 0px;
  padding: 30px;
  border: 1px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Nunito, sans-serif;
}

.hero2{
  margin: 10px;
  display: grid;
  grid-template-columns: 40% 60%;
  margin-bottom: 40px;
}
.hero2 .left2{
  text-align: justify;
  background-color: #CBDABB;
  margin: 0px;
  padding: 30px;
  border: 1px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: Nunito, sans-serif;
}

.right2 .View, .right2 h2 {
 margin-left: 50px;
}

/* shadowing for UDOT image / index.html text */

.w3-hover-shadow {
    transition: box-shadow 0.3s;
}

.w3-hover-shadow:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 12px 40px 0 rgba(0,0,0,0.35);
}

.right h2 {
    transition: text-shadow 0.3s;
}
.right h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.left h2 {
    transition: text-shadow 0.3s;
}
.left h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.left2 h2 {
    transition: text-shadow 0.3s;
}
.left2 h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.right2 h2 {
    transition: text-shadow 0.3s;
}
.right2 h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.right1 h2 {
    transition: text-shadow 0.3s;
}
.right1 h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.left1 h2 {
    transition: text-shadow 0.3s;
}
.left1 h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.solcont h2 {
    transition: text-shadow 0.3s;
}
.solcont h2:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* SOLUTION CSS */
/* .buttons {
  width: 100%;
  border: none;
  border-radius: 50%;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  display: inline-block;
}

.sol {
  color: black; 
  border: 2px solid #9ebaff;
}

.sol:hover {
  color: rgb(89, 111, 234);
} */

.solution, iframe.solif{
  width: 100%;
  min-height: 600px;
  max-height: 1500px;
  margin: auto;
}

img.solgif {
  height: 100%;
  margin: auto;
  display: block;
}

.solim {
  height: 100%;
  margin: auto;
  display: block;
  width: -webkit-fill-available;
}

.solcont {
  padding: 10px; /*gives inside padding*/
  position: relative;
  background-color: white;
  border: solid 2px #093e23;
  max-width: 90%;
  align-content: center;
  margin: auto; /*spaces side margins out*/
  margin-bottom: 10px; /*gives spaceing after each section*/
  height: auto;
}


.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  margin-top: 0px;
  margin-right: 2%;
  margin-bottom: 0px;
  margin-left: 2%;
  justify-content: space-evenly;
}

.team-head-text {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.team-head-text {
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.container {
  max-width: 1380px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.card {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.card-container {
  width: 200px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.name {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 800;
}

.position {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.social-icons {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.team-member-image {
  max-width: 100%;
}

@media (max-width: 500px) {
  .card-container {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}


*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  text-align: center;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text
  {
    text-align:center
  }
}
